[submodule "sublimetext3_config"]
	path = sublimetext3_config
	url = https://github.com/n2omatt/sublimetext3_config
[submodule "dots"]
	path = dots
	url = https://github.com/N2OMatt/dots
[submodule "DownloadRepos"]
	path = DownloadRepos
	url = https://github.com/N2OMatt/DownloadRepos
[submodule "bash-status-line"]
	path = bash-status-line
	url = http://github.com/n2omatt/bash-status-line
[submodule "monodevelop_config"]
	path = monodevelop_config
	url = https://github.com/n2omatt/monodevelop_config
