[submodule "sublimetext3_config"]
	path = sublimetext3_config
	url = https://github.com/n2omatt/sublimetext3_config
[submodule "dots"]
	path = dots
	url = https://github.com/N2OMatt/dots
[submodule "DownloadRepos"]
	path = DownloadRepos
	url = https://github.com/N2OMatt/DownloadRepos
